$l-width: 1439px;
$p-width: 1280px;
$m-width: 798px;
$s-width: 390px;

$yellow: #FECC33;
$black: #1D2230;
$lightgray: #F8F9FA;
$lightyellow: #FFE69B;
$orange: #f2ab26;


$xxl-text: 45px;
$xl-text: 35px;
$l-text: 20px;
$m-text: 18px;
$s-text: 16px;
$xs-text: 14px;